@charset "UTF-8";

@import url('https:://fonts.googleapis.com/css2?family=bebas+Neue&display=swap');

@font-face{
    font-family:'Android';
    src:url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/*
#c5ebd6
#3ddc84
#2fa866
1a5c37
*/
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad ; 
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:arial,Verdana,Helvetica,sans-serif;
    --fonte-destaque:'Bebas Neue',cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding:0px;
}



body {
    background-color:#c5ebd6 ;
    font-family: var(--fonte-padrao);
}

header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor5)) ;
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-top: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}


nav{
    background-color: var(--cor5);
}



main{
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    margin-bottom:30px;
    padding: 20px; ;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}



main h1{
    font-family: var(--fonte-android);
    color:var(--cor4);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    background-color: var(--var5);
    font-weight: normal;
    color:var(--cor4);
    background-image: linear-gradient(to right, var(--cor1));
text-indent: 8px;
}

main p {
    margin: 15px 0px  ;
    text-align: justify;
    text-indent: 30px;
   font-size:1em;
line-height: 2em;
}

main strong{
    color:var(--cor4);
    font-weight: bold;
   
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px;
}
main a hover{
    text-decoration: underline;
    color: var(--cor3);
}


main img{
    width:100%
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px --20px;
    padding: 20px;
}

main img.pequena{
    width:350%;
    display:block;
    margin:auto;
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px --20px;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside >h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius:  10px 10px 0px 0px;
}

footer{
    background-color: var(--var5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a :hover{
    text-decoration: underline;
    color: var(--cor1);
}